
/* Header */

#background-anchor,
#proj-anchor,
#travel-anchor {
  margin-bottom: 100px;
}

header {
  font-size: 25px;
  font-weight: bold;
}

#nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  left: 0px;
  margin-left: 2px;  
  padding: 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
}

#nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10%;
}

#nav-items a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  text-decoration: none;
}

/* Body  */

body {
  background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 100px;
}

#content {
  background-color: white;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 200px;
}

#content p {
  text-align: center;
}

#content,
#landing-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.flex-container {
  align-items: flex-start;
  display: flex;
  margin-top: 50px;
}

h2 {
  font-size: 40px;
}

/* Landing Page */

#background-container {
  background-color: cornsilk;
  font-size: 20px;
  margin-top: 150px;
  padding: 5px;
}

#landing-container {
  margin-bottom: 0px;
  padding-top: 100px;
}

#landing-profile {
  align-items: center;
  background-color: none;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 100px;
}

#landing-profile p {
  position: relative;
  top: 410px; 
}

#profile-pic {
  background-color: white;
  height: 400px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

/* Projects */

#gradient-bts {
  background-image: linear-gradient(#fbcabb, #ceb6d9); 
  height: 15vw;
  width: 100%;
}

#gradient-uni {
  background-image: linear-gradient(#8dc5e0, #7685e3); 
  height: 15vw;
  width: 100%;
}

.hidden {
  background-color: gainsboro; 
  bottom: 30%;
  font-size: 1vw;
  visibility: hidden;
}

.overlay {
  background-color: white;
  bottom: 15%;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  text-align: center;
  z-index: 2;
}

#overlay-uni {
  height: 15vw;
  position: absolute;
  z-index: 1;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#projects a {
  align-self: center;
  padding-bottom: 10px;
  width: 50%;
}

.proj-container {
  position: relative;
}

.proj-img {
  width:100%;
}

/* Gallery */

button {
  align-self: center;
  text-align: center;
  width: 100px;
}

#images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#images img {
  height: 250px;
  margin: 10px;
  width: auto;
}

.polaroid {
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .2), 0 10px 20px 0 rgba(0, 0, 0, .18);
  margin: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.polaroid:hover {
  transform: scale(1.1);
}

#random-polaroid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#travel-container p:first-of-type {
  font-size: 20px;
}

/* Message Box */

.comment {
  font-weight: bold;
}

form {
  margin-left: 25%;
}

#form-elements-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.info {
  display: flex;
  justify-content: space-around;
}

#message-button,
#message-container {
  margin-left: 45%;
}

#message-button {
  margin-top: 5px;
}

#submit {
  margin-left: 45%;
}

ul {
  list-style: none;
  margin-left: 30%;
  text-align: center;
  width: 500px;
}

ul p {
  margin-bottom: 0px;
}

/* Footer */

#connect-container {
  align-items: center;
  background-color: cornsilk;
  padding-bottom: 10px;
  text-align: center;
}

#connect-container h2 {
  margin-bottom: 5px;
}

#links-container {
  display: flex;
  justify-content: center;
}

#links-container img {
  height: 50px;
}

#links-container a {
  padding-left: 30px;
  padding-right: 30px;
}