#content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#greeting-container {
  margin-top: 20px;
}

#me {
  height: 250px;
  /* margin-left: auto;
  margin-right: auto; */
}

#images {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
}
#images img {
    height:250px;
    width: auto;
}

header {
    font-weight: bold;
    font-size: 25px;
}

body {
    font-family: 'Roboto Mono', monospace;
}

#landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background {
    background-color: cornsilk;
    padding: 5px;
}

#links-container {
    display: flex;
    justify-content: space-around;
}

#connect {
    background-color: cornsilk;
    align-items: center;
}