#content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#greeting-container {
  margin-top: 20px;
}

#me {
  height: 250px;
}

#images {
  display: flex;
  flex-wrap: wrap;
}
#images img {
  height: 250px;
  margin: 10px;
  width: auto;
}

header {
  font-weight: bold;
  font-size: 25px;
}

body {
  font-family: 'Roboto Mono', monospace;
}

#landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#background-container {
  background-color: cornsilk;
  padding: 5px;
}

#links-container {
  display: flex;
  justify-content: space-around;
}

#connect-container {
  background-color: cornsilk;
  align-items: center;
  text-align: center;
}

.polaroid {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .2), 0 10px 20px 0 rgba(0, 0, 0, .18);
  padding-bottom: 20px;
  text-align: center;
  margin: 10px;
}

.overlay {
  background-color: white;
  bottom: 20%;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  text-align: center;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#projects a {
  align-self: center;
  padding-bottom: 10px;
  width: 50%;
}

.proj-container {
  position: relative;
}

.proj-img {
  width:100%;

}

#gradient-bts {
  background-image: linear-gradient(#fbcabb, #ceb6d9); 
  height: 15vw;
  width: 100%;
}

#gradient-uni {
  background-image: linear-gradient(#8dc5e0, #7685e3); 
  height: 15vw;
  width: 100%;
}

#overlay-uni {
  height: 15vw;
  position: absolute;
}